.form-row{
	display:flex;
	margin :10px;
	text-align:center;
	justify-content:space-around;
}

section{
	text-align:center;
	justify-content : center;
}
.message{
	justify-content:center;
}
header{
	margin-bottom:-125px;
	height: 100px;
}